:root {
  --area-color1: rgb(255, 0, 0);
  --area-color2: rgb(60, 255, 0);
  --area-color3: rgb(0, 255, 255);
  --area-color4: rgb(0, 25, 250);
  --area-color5: rgb(221, 0, 255);
  --area-color6: rgb(229, 255, 0);
  --area-color7: rgb(136, 0, 255);
  --area-color8: rgb(94, 255, 0);
  --area-color9: rgb(0, 149, 255);
  --area-color10: rgb(255, 0, 157);
  --area-color11: rgb(76, 0, 255);
  --area-color12: rgb(255, 119, 0);
  --area-color13: rgb(0, 255, 255);
  --area-color14: rgb(0, 255, 128);
  --area-color15: rgb(255, 123, 0);
  --area-color16: rgb(0, 89, 255);
  --area-color17: rgb(174, 0, 255);
  --area-color18: rgb(170, 255, 0);
  --area-color19: rgb(0, 255, 110);
  --area-color20: rgb(0, 145, 255);
}
