:root {
  --area-color1: rgb(255, 0, 0);
  --area-color2: rgb(255, 106, 0);
  --area-color3: rgb(252, 193, 0);
  --area-color4: rgb(250, 0, 71);
  --area-color5: rgb(255, 60, 0);
  --area-color6: rgb(255, 221, 0);
  --area-color7: rgb(177, 15, 0);
  --area-color8: rgb(177, 151, 0);
  --area-color9: rgb(192, 58, 0);
  --area-color10: rgb(118, 0, 16);
  --area-color11: rgb(255, 208, 77);
  --area-color12: rgb(255, 205, 3);
  --area-color13: rgb(128, 0, 0);
  --area-color14: rgb(171, 60, 0);
  --area-color15: rgb(154, 0, 59);
  --area-color16: rgb(255, 109, 109);
  --area-color17: rgb(214, 150, 0);
  --area-color18: rgb(255, 77, 0);
  --area-color19: rgb(143, 131, 0);
  --area-color20: rgb(130, 44, 32);
}
