:root {
  --primary-border-color: rgb(181, 181, 181) !important;
  --secondary-border-color: rgb(93, 93, 93) !important;

  --primary-background: black !important;

  --axis-color: rgb(26, 26, 26) !important;
  --graph-stroke-color: rgb(255, 255, 255) !important;
  --graph-background-color: rgb(0, 0, 0) !important;

  --pointer-color: rgb(0, 195, 0) !important;
  --sin-color: rgb(71, 71, 255) !important;
  --cos-color: rgb(255, 48, 48) !important;
  --tancot-color: rgb(255, 65, 255) !important;

  --controller-background: rgb(0, 0, 0) !important;
  --controller-highlight: rgb(45, 45, 45) !important;
  --controller-highlight2: rgb(148, 148, 148) !important;
  --controller-active: rgb(255, 255, 255) !important;
  --controller-font-normal: rgb(255, 255, 255) !important;
  --controller-font-inactive: rgb(116, 116, 116) !important;
  --controller-font-active: rgb(59, 59, 59) !important;
  --controller-wikiref: rgb(6, 74, 3) !important;

  --slider-knob: rgb(205, 205, 205) !important;
  --slider-bg: rgb(87, 87, 87) !important;
  --slider-text: rgb(255, 255, 255) !important;
  --slider-active-bg: rgb(203, 203, 203) !important;
  --slider-active-text: rgb(103, 103, 103) !important;
}

/* Theme-specific images */

.controls input.angle-iwant-pi-lock[type="checkbox"] + label::after,
.controls a.formulae-wikiref {
  display: inline-block;
  content: " ";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.controls input.angle-iwant-pi-lock[type="checkbox"] + label::after {
  position: relative;
  left: 2px;
  height: 100%;
  width: 20px;
  background-image: url(assets/lock-unlocked.svg);
}

.controls input.angle-iwant-pi-lock:checked[type="checkbox"] + label::after {
  background-image: url(assets/lock-locked.svg);
}

.controls a.formulae-wikiref {
  height: 100%;
  width: 16px;
  background-image: url(assets/formulae-wikiref.svg);
}

.graph-configure-image {
  content: url(assets/details-icon.svg);
}

.graph-configure .graph-configure-language-icon {
  content: url(assets/language-icon.svg);
  height: 100%;
}
