:root {
  --itn-ac1: rgb(255, 0, 0);
  --itn-ac2: rgb(60, 255, 0);
  --itn-ac3: rgb(0, 255, 255);
  --itn-ac4: rgb(0, 25, 250);
  --itn-ac5: rgb(221, 0, 255);
  --itn-ac6: rgb(229, 255, 0);
  --itn-ac7: rgb(136, 0, 255);
  --itn-ac8: rgb(94, 255, 0);
  --itn-ac9: rgb(0, 149, 255);
  --itn-ac10: rgb(255, 0, 157);
  --itn-ac11: rgb(76, 0, 255);
  --itn-ac12: rgb(255, 119, 0);
  --itn-ac13: rgb(0, 255, 255);
  --itn-ac14: rgb(0, 255, 128);
  --itn-ac15: rgb(255, 123, 0);
  --itn-ac16: rgb(0, 89, 255);
  --itn-ac17: rgb(174, 0, 255);
  --itn-ac18: rgb(170, 255, 0);
  --itn-ac19: rgb(0, 255, 110);
  --itn-ac20: rgb(0, 145, 255);
}
