:root {
  --itn-ac1: rgb(255, 0, 0);
  --itn-ac2: rgb(255, 106, 0);
  --itn-ac3: rgb(252, 193, 0);
  --itn-ac4: rgb(250, 0, 71);
  --itn-ac5: rgb(255, 60, 0);
  --itn-ac6: rgb(255, 221, 0);
  --itn-ac7: rgb(177, 15, 0);
  --itn-ac8: rgb(177, 151, 0);
  --itn-ac9: rgb(192, 58, 0);
  --itn-ac10: rgb(118, 0, 16);
  --itn-ac11: rgb(255, 208, 77);
  --itn-ac12: rgb(255, 205, 3);
  --itn-ac13: rgb(128, 0, 0);
  --itn-ac14: rgb(171, 60, 0);
  --itn-ac15: rgb(154, 0, 59);
  --itn-ac16: rgb(255, 109, 109);
  --itn-ac17: rgb(214, 150, 0);
  --itn-ac18: rgb(255, 77, 0);
  --itn-ac19: rgb(143, 131, 0);
  --itn-ac20: rgb(130, 44, 32);
}
