:root {
  --primary-border-color: black !important;
  --secondary-border-color: rgb(187, 187, 187) !important;

  --primary-background: white !important;

  --axis-color: black !important;
  --graph-stroke-color: black !important;
  --graph-background-color: white !important;

  --pointer-color: rgb(0, 94, 0) !important;
  --sin-color: rgb(0, 0, 134) !important;
  --cos-color: rgb(119, 0, 0) !important;
  --tancot-color: rgb(102, 0, 102) !important;

  --controller-background: white !important;
  --controller-highlight: rgb(217, 217, 217) !important;
  --controller-highlight2: rgb(185, 185, 185) !important;
  --controller-active: rgb(79, 79, 79) !important;
  --controller-font-normal: black !important;
  --controller-font-inactive: rgb(131, 131, 131) !important;
  --controller-font-active: rgb(167, 167, 167) !important;
  --controller-wikiref: rgb(189, 255, 187) !important;
}

.controls input.angle-iwant-pi-lock[type="checkbox"] + label::after,
.controls a.formulae-wikiref {
  display: inline-block;
  content: " ";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.controls input.angle-iwant-pi-lock[type="checkbox"] + label::after {
  position: relative;
  left: 2px;
  height: 100%;
  width: 20px;
  background-image: url(assets/lock-unlocked.svg);
}

.controls input.angle-iwant-pi-lock:checked[type="checkbox"] + label::after {
  background-image: url(assets/lock-locked.svg);
}

.controls a.formulae-wikiref {
  height: 100%;
  width: 16px;
  background-image: url(assets/formulae-wikiref.svg);
}

.graph-configure-image {
  content: url(assets/details-icon.svg);
}

.graph-configure .graph-configure-language-icon {
  content: url(assets/language-icon.svg);
}
